[Unit]
Description=ACRi Virtual Machine Start Up
After=network-online.target remote-fs.target
Before=ssh.service xrdp-sesman.service xrdp.service 

[Service]
Type=oneshot
User=acriuser
Group=acriuser
RemainAfterExit=yes
WorkingDirectory=/tools/acri-olb/client
ExecStart=+/tools/acri-olb/client/acri-startup-pre.sh
ExecStart=/tools/acri-olb/client/acri-startup.rb
ExecStart=+/tools/acri-olb/client/acri-startup-post.sh

[Install]
WantedBy=multi-user.target
