[Unit]
Description=ACRi Physical Machine Restart Service

[Service]
Type=oneshot
User=acriuser
Group=acriuser
RemainAfterExit=yes
WorkingDirectory=/tools/acri-olb/client
ExecCondition=/tools/acri-olb/client/acri-restart-check.sh
ExecStart=+/usr/bin/wall "This server will reboot soon, as reservation has been changed."
ExecStart=/usr/bin/sleep 10
ExecStart=+/sbin/reboot