# shared folder name should be '/tools'
[Unit]
Requires=vboxadd.service vboxadd-service.service
After=vboxadd.service vboxadd-service.service

[Mount]
What=tools
Where=/tools
Type=vboxsf
Options=ro,dmode=777

[Install]
WantedBy=multi-user.target

